* {
    font-family: Arial, sans-serif;
    margin: 0;
}

body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.get_random_btn {
    color: #f4f4f4;
    background: #000000;

    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

    padding: 15px 20px;

    cursor: pointer;
}

.get_random_btn:active {
    box-shadow: none;
    transform: translate(5px, 5px);
}

.show_rand_num {
    font-size: 15px;
    display: block;
    margin-top: 15px;
    margin-left: 5px;
}
