/* Single Selector */
/* Element Selector */
h3 {
    color: blue;
}

/* Group Selector (,) */
h4, h5, h6 {
    color: steelblue;
}

/* ID Selector */
#myself {
    color: violet;
}

#family, #th, #la {
    color: blue;
    font-size: 20px;
}

/* Class Selector */
.phone {
    color: red;
    /* font-size: 30px; */
}

.fontlg {
    font-size: 30px;
}

/* 
CSS မှာ selector အမျိုးအစား ၃ခု ရှိတယ်။
1. Element Selector
2. Class Selector
3. ID Selector
 */
