.firstdiv {
    width: 200px;
    height: 200px;

    background-color: green;
    color: #ffffff;
    font-size: 20px;
}

.seconddiv {
    width: 300px;
    height: 300px;

    background: url(../img/cover/bg1.jpg);

    background-repeat: repeat;

    background-position: center;

    color: blue;
    font-size: 20px;

    border: 3px solid red; /* border border-style border-color */
}
