/* AT-Rules (@) */
@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url(../css/l17addfile.css);

/* Fonts တွေကို ကိုယ့် project folder ထဲကို ထည့်ပြီ ခေါ်တာ။ */
@font-face {
    font-family: Stick; /* variable လိုမျိုး လုပ်ဆောင်တာ။ */
    src: url(../fonts/Stick/Stick-Regular.ttf);
}

@font-face {
    font-family: "Akaya Kanadaka";
    src: url(../fonts/Akaya_Kanadaka/AkayaKanadaka-Regular.ttf);
}

/* 
Font Integration
i. Local Machine Integrate
ii. Global Integrate
 */

/* I. Local Machine Integrate */

/* Universal Selector
သူက web document ကြီး တခုလုံးကို ဆိုလိုတာ body နဲ့ မတူဘူး
 */
* {
    font-family: "JetBrains Mono", Arial;
}

/* body {
    font-family: Arial;
} */

/* .p1 {
    font-family: Arial;
} */

/* .p2 {
    font-family: "Times New Roman";
} */

.p3 {
    font-family: Century, Arial, "Times New Roman";
}

/* 
II. Global Integrate
မှာ လုပ်လို့ရတဲ့ နည်း ၂နည်းရှိတယ်။
Download လုပ်တဲ့ နည်းရယ်။ CDN (Content Deliver Network) ချိတ်တဲ့ နည်း။
*/
.p1, .p4 {
    font-family: "Stick", sans-serif;
    font-weight: 400; /* font အထူကို ပြောတာ 100 ကနေ 900 ထိပဲရှိတယ်။ */
    font-style: normal;
}

.p2 {
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 400;
    font-style: normal;
}

.clickme {
    text-decoration: none;
    color: green;
}

/* pseudo class (:) */
.clickme:hover {
    text-decoration: underline;
    color: blue;
    font-size: 20px;
}

.clickme:visited {
    color: brown;
}

.clickme:active {
    color: orange;
}

.menutext {
    font-family: Arial;
    background-color: green;
    color: #fff;
    text-decoration: none;

    /* padding ကို value က ၁ခု, ၂ခု နဲ့ ၄ခု ပေးလို့ရတယ်။
    1 value: top, bottom, left, right
    2 values: top & bottom, left & right
    4 values: top, right, bottom, left 
    padding တခုချင်းဆီကိုလည်း specify လုပ်လို့ရသေးတယ်။
    padding-top, padding-right, padding-bottom, padding-left ဆိုပြီ ရှိသေးတယ်။*/

    /* padding: 10px; */
    /* padding: 10px 20px; */
    /* padding: 10px 20px 30px 40px; */

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    border-radius: 10px;

    /* transition ဆိုတာ property ကို အရောင်ပဲ ဖြစ်ဖြစ် တခုခု effect ဝင်စေချင်တာ အဲလိုချိန်ကျရင် သုံးလို့ရတယ်။
    သူမှာ value ၂ခု ရှိတယ်။ တခုက ဖြစ်စေချင်တဲ့ property ရယ် နောက်တခုက အချိန်ရယ်။ */
    /* transition: all 0.5s; */
    transition: background-color 1s, color 0.5s; /* ဒါကျတော့ property တခုထဲကို ပေးတာ ကျန်တာက ချက်ချင်းဖြစ်တယ်။ */
}

.menutext:hover {
    background-color: orange;
    color: #000;
}
