/* Descendant Selector (space) */
/* ancestor descendant {
    properties: values;
}

Group Selector (,), Descendant Selector (space)
*/

/* tag to tag သွားတာ */
div span {
    color: red;
}

/* multi tags to tag */
div p span {
    color: blue;
}

/* tag to class */
div span .address {
    color: purple;
}

div p {
    color: brown;
}

span .address {
    color: chartreuse;
}

/* multi tags to class */
div span .address {
    color: darkblue;
}

/* mutli tag to same class */
small.name{ /* same class, same element */
    color: darkgoldenrod;
}

/* Class to Class */
.bank .money {
    color: crimson;
}

.bank .currency {
    color: orange;
}

.money .currency {
    color: orangered;
}

/* Multi Class to Class */
.bank .money .currency {
    color: deeppink;
}

/* Class to Tag */
.container b {
    color: coral;
}

/* Class to Multi Tag */
.container b span {
    color: deepskyblue;
}

/* Same Class */
.car.jpn, .car.cn, .car.indo, .car.us {
    color: fuchsia;
}

/* Class to Same Class */
.vehicle .car.jpn, .vehicle .car.cn, .vehicle .car.indo, .vehicle .car.us {
    color: gold;
}

/* Class to Tag with Group Selector */
.div1 p, .div1 b {
    color: cyan;
}

/* Group Selector (,) then Child Selector (>) */
 .div2 > p { /* ဒါက div2 ထဲက p (p1, p3) ပဲ အရောင်ရမှာ */
    color: darkgreen;
 }

 .div3 > i { /* ဒါက div3 ထဲက i (i3) ပဲ အ‌ရောင်ရမှာ */
    color: darkgreen
 }

 .div2 > b { /* ဒါက div2 ထဲက b (b1) ပဲ အ‌ရောင်ရမှာ */
    color: darkgreen;
 }

 .div2 > .div3 { /* ဒါက div2 ထဲက div3 ထဲမှာ ရှိတဲ့ tags တွေ အားလုံး အရောင် ရမှာ */
    color: darkgreen;
 }

 /* (i) General Sibling Selector (~) */
 .div4 ~ p { /* သူက div4 နဲ့ မောင်နှမ ဖြစ်နေတဲ့ tag ကိုပဲ အရောင်ပေးမှာ ဖြစ်တယ်။*/
    color: darkseagreen;
 }

 /* (ii) Adjacent Sibling Selector (+) */
 .div7 + p { /* သူက လုံးဝ ကပ်ရပ် ရှိနေတဲ့ သူကိုပဲ effect ပေးတာ သူတို့ ၂ယောက်ကြားထဲမှာ တခြားဟာ ရှိနေလို့ မရဘူး ရှိရင် effect က လုံးဝ မဝင်တော့ဘူး။ */
    color: darkolivegreen;
 }

