/* Descendant Selector (space) */
/* ancestor descendant {
    properties: values;
}

Group Selector (,), Descendant Selector (space)
*/

/* tag to tag သွားတာ */
div span {
    color: red;
}

/* multi tags to tag */
div p span {
    color: blue;
}

/* tag to class */
div span .address {
    color: purple;
}

div p {
    color: brown;
}

span .address {
    color: chartreuse;
}

/* multi tags to class */
div span .address {
    color: darkblue;
}

/* mutli tag to same class */
small.name{ /* same class, same element */
    color: darkgoldenrod;
}

/* Class to Class */
.bank .money {
    color: crimson;
}

.bank .currency {
    color: orange;
}

.money .currency {
    color: orangered;
}

/* Multi Class to Class */
.bank .money .currency {
    color: deeppink;
}

/* Class to Tag */
.container b {
    color: coral;
}

/* Class to Multi Tag */
.container b span {
    color: deepskyblue;
}

/* Same Class */
.car.jpn, .car.cn, .car.indo, .car.us {
    color: fuchsia;
}

/* Class to Same Class */
.vehicle .car.jpn, .vehicle .car.cn, .vehicle .car.indo, .vehicle .car.us {
    color: gold;
}

/* Class to Tag with Group Selector */
.div1 p, .div1 b {
    color: cyan;
}

/* Group Selector (,) then Child Selector (>) */


