:root {
    --wh: 100px;
    --ht: 80px;
    --rd: red;
    --be: blue;
    --gn: green;
    --oe: orange;
    --ste: steelblue;
    --crm: crimson;
    --gd: gold;
    --sr: silver;
}

.div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8 {
    width: var(--wh);
    height: var(--ht);
}

.div1 {
    background-color: var(--rd);

    /* rotate(xy) - it can be given both positive and negative*/
    transform: rotate(45deg);
}

.div2 {
    background-color: var(--be);

    transform: rotate(-45deg);
}

.div3 {
    background-color: var(--gn);

    /* same as 360deg (360deg = 1turn) */
    transform: rotate(1turn);
}

.div4 {
    background-color: var(--oe);

    transform: rotateX(45deg);
}

.div5 {
    background-color: var(--ste);

    transform: rotateY(45deg);
}

.div6 {
    background-color: var(--crm);
}

.div7 {
    background-color: var(--gd);
}

.div8 {
    background-color: var(--sr);
}
