/* documents တွေမှာ ရှိတဲ့ margin တွေကို ဖယ်ချင်တယ်ဆိုရင်
body မှာ margin ကို zero ပေးလိုက်တာနဲံ document တခုလုံး
ကပ်သွားလိမ့်မယ်။ */
body {
    margin: 0;
    padding: 0;
}

.div1 {
    width: 600px;
    height: 200px;
    background-color: orange;

    /* top right bottom left => one value for all */
    /* margin: 20px; */

    /* top&bottom left&right */
    /* margin: 20px 50px; */

    /* top right bottom left => each value for different position*/
    /* margin: 10px 30px 50px 100px; */

    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 50px;
    margin-left: 80px;
}

.div2 {
    width: 600px;
    height: 200px;
    background-color: orangered;
}

.div2 .bank, .div2 .coin {
    background-color: green;
    color: #ffffff;

    /* 
    display: inline သုံးလို့ရတယ်။ သူက block element တွေကို inline ပြောင်းပေးမယ်။
    display: block သုံးရင် သူက inline element တွေကို block ပြောင်းပေးမယ်။
     */
    display: block;
}

.display1 {
    width: 300px;
    height: 100px;
    background-color: silver;
    border: 2px solid cyan;

    /* 
    သူက element ကို ပျောက်ပေးတာ။ သူမှာ တန်ဖိုးက 0 ကနေ 1 ထိ ရှိတယ်။
    1 ဆိုရင် လုံးဝ ထင်နေတာ
    0 ဆိုရင် လုံးဝ ပျောက်သွားတာ
    သူက element ကိုတော့ ပျောက်ပေးတယ် ဒါမဲ့ space ကို မပျောက်ပေးဘူး။
     */
    /* opacity: 0.3; */

    /* 
    visibility ကို သုံးပြီတော့လည်း ပျောက်လို့ရတယ်။ သူ့မျာတော့ နံပါတ် value မရှိဘူး။
    ပေါ်ချင်ရင် visible သုံးတယ် ပျောက်ချင်ရင် hidden သုံးတယ်။
     */
    visibility: visible;
}

.display2 {
    width: 300px;
    height: 100px;
    background-color: steelblue;
    border: 2px solid purple;
}
