.boxone {
    width: 1200px;
    height: 1200px;
    background-color: green;

    display: flex;
    justify-content: center;
    align-items: center;

    /* 
    နောက်တခု လုပ်လို့ ရတာက
    display: grid; ကိုသုံးလို့ရတယ်။
    သူကို place-items: center; နဲ့ တွဲသုံးလို့ရတယ်။
    display: grid; မပါပဲ place-items: center; ပဲ သုံးမယ်ဆိုရင် horizontal center တော့ရတယ်။
    သူကို့ ဘယ်ချိန်မှာ သုံးသင့်လည်း ဆိုရင် parent မှာ element တခုပဲရှိတဲ့ ချိန် ပြောမယ်ဆိုရင် child တခုပဲ ရှိတဲ့ ချိန် သုံးသင့်တယ်။
     */
    /* display: grid;
    place-items: center; */
}

.boxone .div1 {
    width: 300px;
    height: 300px;
    background-color: orange;
    color: #fff;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.boxone .div2 {
    width: 300px;
    height: 300px;
    background-color: deepskyblue;
    color: #fff;
    border-radius: 50%;

    /* display: flex;
    justify-content: center;
    align-items: center; */
    
    text-align: center;
    line-height: 300px;
}

/* 
display မှာ 
inline
block
grid
none
 */
