@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');

:root {
    --wcc: #f4f4f4;
    --gyc: #777;
    --dbc: darkblue;
    --occ: orange;
    --gnc: green;
}

/* Universal Selector */
* {
    /* 
    သူကို global selector ပေးရလိုက်ရင် document တခုလုံးမှာ effect ဝင်သွားတယ်။
    အဲလို မဟုတ်ပဲ ကိုယ်က form-control မှာလည်း ပေးလို့ရတယ်။
    သူက input element တွေကို ဘေး ဘယ်ညာ အညီ ညှိပေးတာ
     */
    box-sizing: border-box;

    /* 
    သူကို universal selector မှာလည်း ပေးလို့ရတယ်။
    ဒီမှာ ပေးရင် heading, label တွေ မဟုတ်ပဲ input boxes, button တွေပါ အစ effect ဝင်သွားတယ်။
    body ပေးရင်တော့ display လုပ်တဲ့ element တွေကိုပဲ effect ဝင်မှာ
     */
    /* font-family: "Stick", sans-serif; */
}

body {
    /* vh = viewport height, vw = viewport width*/
    height: 100vh;

    font-family: "Stick", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
}

.container {
    width: 480px;
    background-color: var(--wcc);

    /* horizontal vertical blur color */
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}

.container h2 {
    text-align: center;
}

.container .form {
    /* top&bottom left&right */
    padding: 30px 30px;
}

.form-group {
    margin-bottom: 30px;
}

.form-group label {
    display: block;
    color: var(--gyc);
    margin-bottom: 5px;
}

.form-group .form-control {
    width: 100%;
    padding: 10px;

    font-family: inherit;

    /* box-sizing: border-box; */
}

.form-group .form-control::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.form .btn {
    width: 100%;
    background-color: var(--dbc);
    color: #fff;
    font-size: 16px;

    /* 
    အဲလို ရေးလို့ရသလို
    inherit လိုလည်း ရေးလိ့ရတယ်။
     */
    /* font-family: "Stick", sans-serif; */
    font-family: inherit;

    border: none;
    border-radius: 4px;

    cursor: pointer;

    padding: 10px;

    transition: background-color .5s;
}

.form .btn:hover {
    background-color: var(--occ);
}

.form .btn:active {
    background-color: var(--gnc);
}

/* သူက design တွေကို screen-size ပေါ် မူတည်ပြီ ပြတာ
ပြောမယ်ဆိုရင် ပိုပြီ responsive ဖြစ်အောင်လုပ်တာကို ပြောတာ */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .form .btn {
        font-size: 14px;
        padding: 12px;
        background-color: var(--gnc);
    }

    .form .form-group {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .container h2 {
        font-size: 20px;
    }

    .form-group .form-control {
        font-size: 12px;
    }
}
