body {
    background-color: #f4f4f4;
    color: #333;

    margin: 0;
}

.intro {
    background-color: deepskyblue;
    color: #fff;
    text-align: center;

    padding: 60px 0;
}

.intro h1 {
    margin-bottom: 10px;
}

.intro p {
    font-size: 18px;
    margin-bottom: 30px;
}

.intro .btn {
    background-color: #fff;
    text-decoration: none;
    color: deepskyblue;
    font-weight: bold;
    border-radius: 8px;
    
    padding: 10px 20px;

    transition: background-color 0.3s;
}

.intro .btn:hover {
    background-color: #e6e6e6;
}

.schedule, .instructor{
    width: 600px;
    background-color: #fff;
    border-radius: 12px;
    /* h v b c */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* top&bottom left&right */
    margin: 40px auto;
    padding: 20px;
}

.schedule ul {
    padding-left: 20px;
}

.instructor img {
    width: 200px;
    border-radius: 50%;

    display: block;
    margin: 0 auto;
}

footer {
    background-color: #eeeeee;
    text-align: center;
    padding: 20px;
}
