@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Strichpunkt+Sans:wght@400..900&display=swap');

:root {
    --correct-bg: #4CAF50;
    --incorrect-bg: #f44336;
    --correct-incorrect-text-color: #ffffff;

    --body-bg: #ffffff;
    --card-bg: #ffffff;
    --card-text: #000000;
    --box-shadow-color: rgba(0, 0, 0, 0.3);

    --btn-bg: #e3e3e3;
    --btn-text: #000000;
    --control-btn-bg: #f4f4f4;
}

[data-theme="dark"] {
    --body-bg: #1a1c20;
    --card-bg: #22252a;
    --card-text: #e3e3e3;
    --box-shadow-color: rgba(0, 0, 0, 0.6);

    --btn-bg: #2d3139;
    --btn-text: #e3e3e3;
    --control-btn-bg: #2d3139;
}

* {
    font-family: "Strichpunkt Sans", "Roboto", sans-serif;
    font-optical-sizing: auto;

    margin: 0;
    padding: 0;
}

body {
    height: 100vh;

    display: flex;
    flex-direction: column; /* Force children to stack vertically */
    justify-content: center;
    align-items: center;

    background-color: var(--body-bg);
    color: var(--card-text);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
    width: 200px;
    min-height: 300px;

    border-radius: 10px;
    background-color: var(--card-bg);
    color: var(--card-text);
    box-shadow: 0 0 5px var(--box-shadow-color);

    margin-bottom: 15px;
    padding: 15px 20px;
}

.container.quiz-finished {
    min-height: auto;

    padding: 30px 20px;
}

.container .theme-container {
    margin-top: 10px;
}

.container .theme-container .theme-toggle-btn {
    width: 45px;
    height: 20px;
    background-color: transparent;

    border: 2px solid var(--card-text);
    border-radius: 50px;

    position: relative;
    top: 2px;

    cursor: pointer;
}

.container .theme-container .theme-toggle-btn .toggle-knob {
    width: 12px;
    height: 12px;
    background-color: var(--card-text);

    border-radius: 50%;
    /*border: 1px solid var(--card-text);*/

    position: absolute;
    top: 2px;
    left: 3px;

    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

[data-theme = "dark"] .toggle-knob {
    transform: translateX(22px);
}

.container .theme-container  .theme-text {
    font-size: 16px;
    font-style: italic;
    font-stretch: extra-expanded;
}

.theme-container, h3, .quiz-container {
    margin-bottom: 10px;
}

.quiz-container .quiz-question {
    margin-bottom: 10px;
}

.container .quiz-container .options-container button {
    width: 100%;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    font-size: 15px;;

    border: none;
    border-radius: 20px 0 20px 0;

    padding: 10px 0;
    margin-bottom: 10px;

    cursor: pointer;
}

.quiz-container .options-container button:hover {
    font-weight: bold;
    transform: scale(1.1);
}

.quiz-container .options-container button.correct {
    background-color: var(--correct-bg);
    color: var(--correct-incorrect-text-color);
}

.quiz-container .options-container button.incorrect {
    background-color: var(--incorrect-bg);
    color: var(--correct-incorrect-text-color);
}

.quiz-container .options-container .options-btn:disabled {
    cursor: not-allowed;
    opacity: 0.8;
}

.quiz-container h4 {
    margin-bottom: 10px;
}

.next-btn, .restart-btn {
    width: 100px;
    background-color: var(--control-btn-bg);
    color: var(--card-text);
    font-size: 18px;

    /* align-self: center; */

    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

    padding: 10px 20px;

    cursor: pointer;
}

.next-btn:hover, .restart-btn:hover {
    transform: translateY(-2px);
}

.next-btn:active, .restart-btn:active {
    transform: none;
}
